DATABASE_URL="postgresql://postgres:postgres@localhost:5432/mini_mystics?schema=public"
AUTH_SECRET="replace-with-at-least-32-random-characters"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
APPLE_CLIENT_ID=""
APPLE_CLIENT_SECRET=""
